<div class="background-image">
  <div class="container px-5 px-sm-0 pt-5 back">
  <div class="row d-lg-flex pt-5">

      <div class="col-lg-6  d-lg-flex align-items-center">
          <div class="mr-lg-5 mb-3">
            <%= image_tag 'Tippy_logo', class:"img-fluid back-color"%>
          </div>
        </div>
      <div class="col-lg-5">
        <div class="d-flex justify-content-center">
          <strong class="back-color">サインアップ</strong><br />
        </div>

        <div class="d-flex justify-content-center">
          <div>
            <%= form_with model: @user, url: user_registration_path do |f| %>
              <div class="field mt-3">
                <strong>ユーザ名</strong><br>
                <%= f.text_field :name , :class => "form-control" %>
              </div>
              <div class="field mt-3">
                <strong>メールアドレス</strong><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
              </div>
              <div class="field mt-3">
                <strong>パスワード</strong>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" , :class => "form-control"%>
              </div>
              <div class="field mt-3">
                <strong>パスワード確認</strong><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
              </div>
              <div class="actions mt-3 back-color">
                <%= f.submit "登録完了",class: "btn btn-outline-success" %>
              </div>
              <div class="mt-2 back-color">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

