<div class="jumbotron">
  <h4 class="display-5">マイページ</h4>
  
  
  <hr class="my-4">
  <p><%= image_tag @user.get_profile_image(50,500) %></p>
  <strong>ユーザネーム</strong><br>
  <strong><%= @user.name %></strong><br>
  <br>
  
  <% if @user==current_user %>
    <strong>メールアドレス</strong><br>
    <strong><%= @user.email %></strong><br>
    <div class="mt-3"><%= link_to "編集する", edit_user_path,class: "btn btn-outline-info" %></div>
  <% end %>
</div>

<% @posts.each do |post| %>
  <%= image_tag post.get_image(500,500) %>
  <p><%= post.genre.name %></p>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.content %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <% if post.user==current_user %>
  <p><%= link_to "削除", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></p>
  <% end %>
<% end %>