<li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
<div class="container px-5 px-sm-0">
  <div class="jumbotron">
    <h4 class="display-5">マイページ</h4>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "navbar-brand"%>
    
    <hr class="my-4">
    <p><%= image_tag @user.get_profile_image(50,500) %></p>
    <strong>ユーザネーム</strong><br>
    <strong><%= @user.name %></strong><br>
    <br>
    
    <h4>レベル<%= @user.exp_sum.floor %></h4>
    
    <% if @user==current_user %>
      <strong>メールアドレス</strong><br>
      <strong><%= @user.email %></strong><br>
      <div class="mt-3"><%= link_to "編集する", edit_user_path,class: "btn btn-outline-info" %></div>
    <% end %>
  </div>
  <h3>種類一覧</h3>
   <p><%= link_to "全て", user_path(@user) %></p>
  <% @genres.each do |genre| %>
    <p><%= link_to genre.name, user_path(genre_id: genre.id) %></p>
  <% end %>
 
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <% post.image.each do |image| %>
        <%= image_tag image,size: "200x200" %>
      <% end %>
      <p><%= post.genre.name %></p>
      <p>タイトル：<%= post.title %></p>
      <p>説明：<%= post.content %></p>
      <p>ユーザーネーム：<%= post.user.name %></p>
      <% if post.user==current_user %>
      <p><%= link_to "削除", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
<% if current_user.id==1 %>
<li>
  <%= link_to "ジャンル", genres_path, class: "navbar-brand"%>
</li>
<% end %>