<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <%= link_to root_path do%>
        <%= image_tag 'Tippy' , size: "150x55"%>
      <% end %>
      <% if user_signed_in? %>
      <%= form_with url: posts_path, method: :get, local: true, class: "d-flex search-status col-md-4 col-md-offset-4" do |f| %>
        <%= f.text_field :keyword, value: @keyword ,class: "form-control me-2" ,placeholder: "キーワード検索"%>
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
      <span class="d-flex mt-1">
          <div class="mr-5">
            <%= link_to new_post_path ,class: "mr-0" do%>
              <%= image_tag 'image', size: "70x70" %>
            <% end %>
          </div>
          <div class="mr-5">
            <%= link_to user_path(current_user), class: "image" do %>
              <%= image_tag 'image1', size: "70x70" %>
            <% end %>
          </div>
          <div>
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" data-backdrop="static"><%= image_tag 'hatena', size: "60x60" %></button>
            
            <!-- ボタン・リンククリック後に表示される画面の内容 -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  
                  <div class="modal-header">
                    <h5 class="modal-title">ヘルプorヒントorキングたつや</h5>
                  </div>
                  
                  <div class="modal-body">
                    <p>おっはー</p>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
              
            </div>
          
      </span>
      <% else %>
        <li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>

<div class="container px-5 px-sm-0">
  <h2>map</h2>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<script>
let map

let marker = []; // マーカーを複数表示させたいので、配列化
let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
const posts = gon.posts; // コントローラーで定義したインスタンス変数を変数に代入

function initMap(){
  // 現在位置の特定
  navigator.geolocation.getCurrentPosition(function (position){
    // LatLngに位置座標を代入
    LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

    // mapの初期位置設定
    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      //倍率はお好みで
      zoom: 13
    });
    // map.setCenterで地図が初期位置に移動
    map.setCenter(LatLng);

    // forは繰り返し処理
    // 変数iを0と定義し、
    // その後gonで定義したstudios分繰り返し加える処理を行う
    for (let i = 0; i < posts.length; i++){
      // studios[i]は変数iのユーザーを取得している
      marker[i] = new google.maps.Marker({
        map: map,
        position: {
          // DBに保存してある、緯度・経度を呼び出す
          lat: posts[i].latitude,
          lng: posts[i].longitude
        }
      });

      // 変数iを変数idに代入
      let id = posts[i]['id']

      // infoWindowは吹き出し
      infoWindow[i] = new google.maps.InfoWindow({
        // contentで中身を指定
        // 今回は文字にリンクを貼り付けた形で表示
        content: `<a href='/posts/${id}'>${posts[i].title}</a>`
      });
      // markerがクリックされた時、
      marker[i].addListener("click", function(){
        // infoWindowを表示
        infoWindow[i].open(map, marker[i]);
      });
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <div class="tab_area">
        		<label class="tab_label active" for="tab1">投稿</label>
        		<label class="tab_label" for="tab2">いいね</label>
    </div>
    <div class="panel_area col-12">
      <div id="panel1" class="tab_panel active">
        <div class="row">
        <% @posts.each do |post| %>
          <div class="col-4 my-2">
            <div class="card back-color2 mt-3 pt-3 imaging h-100">
                <div class="a">
                  <% post.image.each do |image| %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size" %>
                    <% end %>
                  <% end %>
                </div>
              <div class="card-body">
                <h5 class="card-title">
                  <div>
                    <%= post.content %>
                  </div>
                  <%= link_to genre_path(post.genre) do %>
                    <%= post.genre.name %>
                  <% end %>
                </h5>
                <% if user_signed_in? %>
                  
                  <%= link_to post_path(post) ,class: "mr-0" do%>
                    <%= image_tag 'comment', size: "30x20" %>
                  <% end %>
                  <%= link_to post_path(post) ,class: "mr-0" do%>
                    <%= image_tag 'shosai', size: "30x20" %>
                  <% end %>
                  <div class="favorite_buttons_<%= post.id %>">
                  <%= render "favorites/favorites", post: post %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="panel2" class="tab_panel">
        <div class="row">
        <% @favorite_sort.each do |post| %>
          <div class="col-4 my-2">
            <div class="card back-color2 mt-3 pt-3 imaging h-100">
                <div class="a">
                  <% post.image.each do |image| %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size" %>
                    <% end %>
                  <% end %>
                </div>
              <div class="card-body">
                <h5 class="card-title">
                  <div>
                    <%= post.content %>
                  </div>
                  <%= link_to genre_path(post.genre) do %>
                    <%= post.genre.name %>
                  <% end %>
                </h5>
                <% if user_signed_in? %>
                  
                  <%= link_to post_path(post) ,class: "mr-0" do%>
                    <%= image_tag 'comment', size: "30x20" %>
                  <% end %>
                  <%= link_to post_path(post) ,class: "mr-0" do%>
                    <%= image_tag 'shosai', size: "30x20" %>
                  <% end %>
                  <div class="favorite_buttons_<%= post.id %>">
                  <%= render "favorites/favorites", post: post %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // オプションを指定してSkipprの実行
$(function() {
    $('.a').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 5000,
    });

});
</script>


<script>
$(".tab_label").on("click",function(){
	var $th = $(this).index();
	$(".tab_label").removeClass("active");
	$(".tab_panel").removeClass("active");
	$(this).addClass("active");
	$(".tab_panel").eq($th).addClass("active");
});
</script>