<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <%= link_to root_path do%>
        <%= image_tag 'Tippy', size: "150x70" %>
      <% end %>
      <% if user_signed_in? %>
      <%= form_with url: posts_path, method: :get, local: true, class: "d-flex search-status col-md-4 col-md-offset-4" do |f| %>
        <%= f.text_field :keyword, value: @keyword ,class: "form-control me-2" ,placeholder: "キーワード検索"%>
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
      <span class="d-flex">
          <div class="mr-5">
            <%= link_to new_post_path ,class: "mr-0" do%>
              <%= image_tag 'image', size: "70x70" %>
            <% end %>
          </div>
          <div>
            <%= link_to user_path(current_user) do %>
              <%= image_tag 'image1', size: "70x70" %>
            <% end %>
          </div>
      </span>
      <% else %>
        <li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>

<div class="container px-5 px-sm-0">
  <div class="row mt-3">
    <%= image_tag 'map', size: "1200x500" %>
  </div>
  <div class="row">

      <% @posts.each do |post| %>
      <div class="col-4">
        <div class="card back-color2 mt-3 pt-3">
          <%= link_to post_path(post) do %>
            <% post.image.each do |image| %>
              <%= image_tag image,size: "300x400", class: "d-block mx-auto" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= post.title %>
              <%= link_to genre_path(post.genre) do %>
                <%= post.genre.name %>
              <% end %>
            </h5>
            <% if user_signed_in? %>
              <div class="favorite_buttons_<%= post.id %>">
              <%= render "favorites/favorites", post: post %>
              </div>
              <%= link_to post_path(post) ,class: "mr-0" do%>
                <%= image_tag 'comment', size: "30x20" %>
              <% end %>
              <%= link_to post_path(post) ,class: "mr-0" do%>
                <%= image_tag 'shosai', size: "30x20" %>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      <% end %>


  </div>
</div>



