<% @posts.each do |post| %>
  <%= image_tag post.get_image(500,500) %>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.content %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <%= link_to "削除", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
<% end %>
