<div class="container-md">
  <h2>map</h2>

<div id='map' class="googlemap mb-3"></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
.image_size{
  width: 90%;
  height: 300px;
  object-fit: contain;

}

.image_size2{
  width: 600px;
  height: 600px;
  object-fit: contain;

}
</style>


<script>
let map

let marker = []; // マーカーを複数表示させたいので、配列化
let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
const posts = gon.posts; // コントローラーで定義したインスタンス変数を変数に代入

function initMap(){

  // 現在位置の特定
  navigator.geolocation.getCurrentPosition(function (position){
    // LatLngに位置座標を代入
    LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

    // mapの初期位置設定
    map = new google.maps.Map(document.getElementById('map'), {
      center: LatLng,
      //倍率はお好みで
      zoom: 7,

      mapTypeControl: false,
      mapId: '36c981c5b4a8e2b0',
      navigationControl: false,
      gestureHandling: "auto"


    });



    // map.setCenterで地図が初期位置に移動
    map.setCenter(LatLng);

    // forは繰り返し処理
    // 変数iを0と定義し、
    // その後gonで定義したstudios分繰り返し加える処理を行う
    for (let i = 0; i < posts.length; i++){
      // studios[i]は変数iのユーザーを取得している
      marker[i] = new google.maps.Marker({
        map: map,
        position: {
          // DBに保存してある、緯度・経度を呼び出す
          lat: posts[i].latitude,
          lng: posts[i].longitude
        }
      });

      // 変数iを変数idに代入
      let id = posts[i]['id']
      if(1==1){
        infoWindow[i] = new google.maps.InfoWindow({
          // contentで中身を指定
          // 今回は文字にリンクを貼り付けた形で表示
          content: `<div class="custom-info">
            <strong class="custom-info-item name">
            ${posts[i].content}
            </strong>
            <div class="custom-info-item address">
            場所→${posts[i].address}
            </div>
            <div class="custom-info-item tel">
            <a href='/posts/${id}'>詳細を見る</a>
            </div>
            <div class="custom-info-item google-map">
            <a href="#" target="_blank">レベルアップする</a>
            </div>
        </div>`,
          //content: `<a href='/posts/${id}'>${posts[i].content}</a><br><a href='/posts/${id}'>${posts[i].content}</a>`
        });
      }
      if(1==0){
        infoWindow[i] = new google.maps.InfoWindow({
          // contentで中身を指定
          // 今回は文字にリンクを貼り付けた形で表示
          content: `<div class="custom-info">
            <strong class="custom-info-item name">
            ${posts[i].content}
            </strong>
            <div class="custom-info-item address">
            場所→${posts[i].address}
            </div>
            <div class="custom-info-item tel">
            <a href='/posts/${id}'>詳細を見る</a>
            </div>
            <div class="custom-info-item google-map">
            <a href="#" target="_blank">レベルアップする</a>
            </div>
        </div>`,
          //content: `<a href='/posts/${id}'>${posts[i].content}</a><br><a href='/posts/${id}'>${posts[i].content}</a>`
        });
      }

      // infoWindowは吹き出し

      // markerがクリックされた時、
      marker[i].addListener("click", function(){
        // infoWindowを表示
        infoWindow[i].open(map, marker[i]);
      });
    }
  });

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <div class="tab_area">
        		<label class="tab_label active" for="tab1">新しい順</label>
        		<% if user_signed_in? %>
        		<label class="tab_label" for="tab2">いいねランキング</label>
        		<% end %>
    </div>
    <div class="panel_area col-12">
      <div id="panel1" class="tab_panel active">
        <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4 my-2">
            <div class="card back-color2 mt-3 pt-3 imaging h-100">
              <div class="d-flex mb-1 ml-3">
                <%= link_to user_path(post.user) do %>
                  <%= image_tag post.user.profile_image , class: "profile_img2 d-block mx-auto"%>
                <% end %>
                <strong class="ml-2  my-auto"><%= post.user.name %></strong>

              </div>
              <div class="d-flex mb-3 m-3">

              </div>
                <div class="a">
                  <% post.image.each do |image| %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size" %>
                    <% end %>
                  <% end %>
                </div>
              <div class="card-body">
                <h5 class="card-title">
                  <div>
                    <%= post.content %>
                  </div>
                  <%= link_to genre_path(post.genre) do %>
                    <%= post.genre.name %>
                  <% end %>
                </h5>
                <div class="text-right mb-3">
                  <%= image_tag 'pin', size: "25x35" %>
                  <%= post.address %>
                </div>
                <% if user_signed_in? %>
                <div class="d-flex justify-content-between">
                  <div class="favorite_buttons_<%= post.id %> ml-2 mt-2">
                  <%= render "favorites/favorites", post: post %>
                  </div>
                  <div></div>
                  <div class="pull-right">
                    <%= link_to post_path(post) do %>
                      <%= image_tag 'modal', size: "45x35" %>
                    <% end %>
                    <!-- ボタン・リンククリック後に表示される画面の内容 -->
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <div id="panel2" class="tab_panel">
        <div class="row">
        <% @favorite_sort.each do |post| %>
          <div class="col-lg-4 my-2">
            <div class="card back-color2 mt-3 pt-3 imaging h-100">
              <div class="d-flex mb-1 ml-3">
                <%= link_to user_path(post.user) do %>
                  <%= image_tag post.user.profile_image , class: "profile_img2 d-block mx-auto "%>
                <% end %>
                <strong class="ml-2  my-auto"><%= post.user.name %></strong>

              </div>
              <div class="d-flex mb-3 m-3">

              </div>
                <div class="a">
                  <% post.image.each do |image| %>
                    <%= link_to post_path(post) do %>
                      <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size" %>
                    <% end %>
                  <% end %>
                </div>
              <div class="card-body">
                <h5 class="card-title">
                  <div>
                    <%= post.content %>
                  </div>
                  <%= link_to genre_path(post.genre) do %>
                    <%= post.genre.name %>
                  <% end %>
                </h5>
                <div class="text-right">
                  <%= image_tag 'pin', size: "25x35" %>
                  <%= post.address %>
                </div>
                <% if user_signed_in? %>
                <div class="d-flex justify-content-between">
                  <div class="favorite_buttons_<%= post.id %> ml-2 mt-2">
                  <%= render "favorites/favorites", post: post %>
                  </div>
                  <div></div>
                  <div class="pull-right">
                    <%= link_to post_path(post) do %>
                      <%= image_tag 'modal', size: "45x35" %>
                    <% end %>
                    <!-- ボタン・リンククリック後に表示される画面の内容 -->
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            </div>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  // オプションを指定してSkipprの実行
window.addEventListener('load', function(){

  $(function() {
      $('.a').slick({
          dots: true,
          autoplay: true,
          autoplaySpeed: 5000,
      });
  
  });
})
</script>


<script>
$(".tab_label").on("click",function(){
	var $th = $(this).index();
	$(".tab_label").removeClass("active");
	$(".tab_panel").removeClass("active");
	$(this).addClass("active");
	$(".tab_panel").eq($th).addClass("active");
});
</script>