<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      
      <%= link_to root_path do%>
        <%= image_tag 'Tippy' , size: "150x70"%>
      <% end %>
      <% if user_signed_in? %>
      <%= form_with url: posts_path, method: :get, local: true, class: "d-flex search-status col-md-4 col-md-offset-4" do |f| %>
        <%= f.text_field :keyword, value: @keyword ,class: "form-control me-2" ,placeholder: "キーワード検索"%>
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
      <span class="d-flex">
          <div class="mr-5">
            <%= link_to new_post_path ,class: "mr-0" do%>
              <%= image_tag 'image', size: "70x70" %>
            <% end %>
          </div>
          <div>
            <%= link_to user_path(current_user), class: "image" do %>
              <%= image_tag 'image1', size: "70x70" %>
            <% end %>
          </div>
      </span>
      <% else %>
        <li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>

<div class="container px-5 px-sm-0">
  <div class="search-form">
    <%= form_with url: posts_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  
  <div class="row mt-3">
    <%= image_tag 'kokonihon', size: "1200x500" %>
  </div>
  <div class="row">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>title</th>
            <th>content</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <% post.image.each do |image| %>
                  <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size" %>
                <% end %>
              </td>
              <td>
                <%= post.title %>
              </td>
              <td>
                <%= post.content %>
              </td>
              <td>
                <%= link_to "削除", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
