<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <%= link_to root_path do%>
        <%= image_tag 'Tippy' , size: "150x70"%>
      <% end %>
      <% if user_signed_in? %>
      <%= form_with url: posts_path, method: :get, local: true, class: "d-flex search-status col-md-4 col-md-offset-4" do |f| %>
        <%= f.text_field :keyword, value: @keyword ,class: "form-control me-2" ,placeholder: "キーワード検索"%>
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
      <span class="d-flex">
          <div>
            <%= link_to user_path(current_user), class: "image" do %>
              <%= image_tag 'image1', size: "70x70" %>
            <% end %>
          </div>
      </span>
      <% else %>
        <li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </div>
  </nav>
</header>
<%= flash[:notice] %>

<div class="container px-5 px-sm-0">
  <%= form_with model: @new_post do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, multiple: true, class: 'img_field', style: 'display:none;', accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"%>
      <%= image_tag 'camera', size: "200x200", onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev'%>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>説明</h4>
      <%= f.text_area :content %>
    <h4>住所</h4>
      <%= f.text_field :address %>
    <h4>ジャンル  </h4>
      <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <%= f.submit '投稿' %>
  <% end %>
</div>


<script>
$(function () {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $('.img_field').change(function () {
    readURL(this);
  });
});
</script>