<style>
@media screen and (max-width:425px) {
  .img_size{
  width: 120px;
  height: 120px;
  }
}


</style>

<div class="container px-5 px-sm-0 mt-2 mb-5">
  <div class="text-right"><button type="button" class="btn" data-toggle="modal" data-target="#Mod" data-backdrop="static"><%= image_tag 'hatena', size: "40x40" %></button></div>

    <!-- ボタン・リンククリック後に表示される画面の内容 -->
    <div class="modal fade" id="Mod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">投稿例</h5>
          </div>
          <div class="modal-body">
            <p>※あくまでも例です
            </p>
           <br><br><br>
            <div class="d-flex justify-content-center">
            </div>
             <br>
            <div class="d-flex justify-content-center">

              <%= image_tag '1', size: "120x200" %>
              <%= image_tag '2', size: "120x200" %>
              <%= image_tag '3', size: "120x200" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <%= form_with model: @new_post do |f| %>
      <div class="d-lg-flex justify-content-evenly">
        <div class="img_prever col-lg-4 ml-lg-5">
          <div>
            <div class="ml-4">
              <%= flash[:notice2] %>
            </div>
            <% if current_user.back==1 %>
            <strong class="ml-4">最大4枚まで投稿できます</strong>
            <%= f.file_field :image, multiple: true, class: 'img_field', style: 'display:none;', accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"%>
            <div class="d-flex justify-content-start">
              <%= image_tag 'cameraA', size: "200x200", onClick: "$('.img_field').click()", class: 'img_prev img_size'%>
              <%= image_tag 'cameraB', size: "200x200", onClick: "$('.img_field').click()",  class: 'img_pre img_size'%>
            </div>
            <div class="d-flex justify-content-start">
              <%= image_tag 'cameraC', size: "200x200", onClick: "$('.img_field').click()", class: 'img_pr img_size'%>
              <%= image_tag 'cameraD', size: "200x200", onClick: "$('.img_field').click()",  class: 'img_p img_size'%>
            </div>
            <% elsif current_user.back==2 %>
            <strong class="ml-4">最大4枚まで投稿できます</strong>
            <%= f.file_field :image, multiple: true, class: 'img_field', style: 'display:none;', accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"%>
            <div class="d-flex justify-content-start">
              <%= image_tag 'cameraA_2', size: "200x200", onClick: "$('.img_field').click()", class: 'img_prev img_size'%>
              <%= image_tag 'cameraB_2', size: "200x200", onClick: "$('.img_field').click()",  class: 'img_pre img_size'%>
            </div>
            <div class="d-flex justify-content-start">
              <%= image_tag 'cameraC_2', size: "200x200", onClick: "$('.img_field').click()", class: 'img_pr img_size'%>
              <%= image_tag 'cameraD_2', size: "200x200", onClick: "$('.img_field').click()",  class: 'img_p img_size'%>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <div class="my-3">
            <div class="field mt-3">
              <h4>自慢ポイント</h4>
              <%= f.text_area :content , :class => "form-control" %>
            </div>
          </div>
          <div class="my-3">
            <div class="field mt-3">
            <h4>場所</h4>
            <div>
              例1)渋谷駅<br>
              例2)東京都墨田区押上1-1-2<br>
              例3)別府温泉
            </div>
            <%= f.text_field :address , :class => "form-control" %>
            </div>
          </div>
          <div class="my-3">
            <h4>ジャンル</h4>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "m-form-select " %>
          </div>
          <div class="d-grid gap-2">
            <%= f.submit '投稿',class: "btn btn-outline-info"%>
          </div>
        </div>
      </div>
    <% end %>

</div>
<footer>
  <div class="container mt-5">
    <div class="row">
      <br><br><br><br>
    </div>
  </div>
</footer>

<script>
$(function () {
  function readURL(input) {
    for (let i = 0; i < input.files.length; i++){
      if (input.files && input.files[i]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          if (i==0){
            $('.img_prev').attr('src', e.target.result);
          }
          if (i==1){
            $('.img_pre').attr('src', e.target.result);
          }
          if (i==2){
            $('.img_pr').attr('src', e.target.result);
          }
          if (i==3){
            $('.img_p').attr('src', e.target.result);
          }
        }
        reader.readAsDataURL(input.files[i]);
      }
    }
  }

  $('.img_field').change(function () {
    readURL(this);
  });
});
</script>