<div class="container mt-5">
  <div class="card back-color2 mt-3 pt-3 imaging h-100 d-flex">
    <div class="row">
      <div class="col-7">
        <div class="a">
          <% @post.image.each do |image| %>
            <%= link_to post_path(@post) do %>
              <%= image_tag image, width: '90%', height: '90%', class: "d-block mx-auto image_size2" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-5">
        <div class="card-body">
          <div class="d-flex">
            <%= link_to user_path(@post.user) do %>
              <%= image_tag @post.user.profile_image , class: "profile_img2 d-block mx-auto"%>
            <% end %>
            <strong class="ml-2  my-auto"><%= @post.user.name %></strong>
          </div>
          <h5 class="card-title">
            <div class="mt-4">
              <%= @post.content %>
            </div>
            <%= link_to genre_path(@post.genre) do %>
              <%= @post.genre.name %>
            <% end %>
          </h5>
          <% if user_signed_in? %>
            <div class="favorite_buttons_<%= @post.id %> ml-2 mt-2">
              <%= render "favorites/favorites", post: @post %>
            </div>
            <div class="form_table">
              <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
            </div>
            <div class="comments_table">
              <%= render "post_comments/comments", post: @post %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

        
      
<script>
  // オプションを指定してSkipprの実行
$(function() {
    $('.a').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 5000,
    });

});
</script>


<script>
  // オプションを指定してSkipprの実行
$(function() {
    $('.a').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 5000,
    });

});
</script>