<div class="container px-5 px-sm-0">
  <div>
    <% @post.image.each do |image| %>
      <%= image_tag image,size: "200x200" %>
    <% end %>
    <p><%= @post.genre.name %></p>
    <p>タイトル：<%= @post.title %></p>
    <p>説明：<%= @post.content %></p>
    <p>ユーザーネーム：<%= @post.user.name %></p>
  </div>
  <div class="favorite_buttons_<%= @post.id %>">
　　  <%= render "favorites/favorites", post: @post %>
  </div>
  <div class="comments_table">
    <%= render "post_comments/comments", post: @post %>
  </div>
  <div class="form_table">
    <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
  </div>
</div>