<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <%= link_to root_path do%>
        <%= image_tag 'Tippy' , size: "150x55"%>
      <% end %>
      <% if user_signed_in? %>
      <%= form_with url: posts_path, method: :get, local: true, class: "d-flex search-status col-md-4 col-md-offset-4" do |f| %>
        <%= f.text_field :keyword, value: @keyword ,class: "form-control me-2" ,placeholder: "キーワード検索"%>
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
      <span class="d-flex">
          <div class="mr-5">
            <%= link_to new_post_path ,class: "mr-0" do%>
              <%= image_tag 'image', size: "70x70" %>
            <% end %>
          </div>
          <div class="mr-5">
            <%= link_to user_path(current_user), class: "image" do %>
              <%= image_tag 'image1', size: "70x70" %>
            <% end %>
          </div>
          <div>
            <%= link_to user_path(current_user), class: "image" do %>
              <%= image_tag 'hatena', size: "70x70" %>
            <% end %>
          </div>
      </span>
      <% else %>
        <li>
          <%= link_to "Tippy", root_path, class: "navbar-brand"%>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </div>
  </nav>

</header>


<div class="container px-5 px-sm-0 mt-5">
  <div class="d-flex justify-content-center">
    <div class="card back-color2 imaging" style="height:450px">
      <div class="card-body">
        <div class="row">

          <div class="col" style="height:400px">
            <div>
              <% @post.image.each do |image| %>
                <%= image_tag image,size: "400x400"%>
              <% end %>
            </div>
          </div>

          <div class="col">
            <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="width: 500px;">
            <div class="p-2 bd-highlight">
            <!--タイトル、ユーザーネーム-->
              <div class="form_table" style="width:500px">
                <div class="d-flex justify-content-between">
                  <div class="p-2 me-auto bd-highlight"><%= @post.title %></div>
                  <p></p>
                  <div class="bd-highlight"><%= @post.user.name %></div>
                </div>
                <!--説明-->
                <div class="mt-4" style="height: 200px"><%= @post.content %></div>
              </div>
              <!--ハッシュタグ-->
              <p><%= @post.genre.name %></p>
            </div>

            <div class="mt-auto p-2 bd-highlight" style="width:600px">
              <div class="d-flex bd-highlight mb-3">
                <div class="col">
                <!--コメント欄,いいねボタン-->
                  <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static">コメント</button>
                    <div class="favorite_buttons_<%= @post.id %> ml-3">
                    <%= render "favorites/favorites", post: @post %>
                    </div>
                  </div>
                  <!-- ボタン・リンククリック後に表示される画面の内容 -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                      <div class="modal-content mb-5">
                          <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="col">
                  <!--コメント件数-->
                  <div class="comments_table ms-auto p-2 bd-highlight">
                    <%= render "post_comments/comments", post: @post %>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<<<<<<<<< saved version

=========

>>>>>>>>> local version