<div>
  <% @post.image.each do |image| %>
    <%= image_tag image,size: "200x200" %>
  <% end %>
  <p><%= @post.genre.name %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>説明：<%= @post.content %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
</div>